.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    color: #fff;
    padding: 0 40px;
    background: #EE7419;

    .header__logo {
        display: block;
        width: 20px;
        line-height: 20px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #EE7419;
        text-align: center;
        background: #fff;
    }

    .header__title {
        margin-left: 10px;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
    }

    .header__title-s {
        margin-left: 20px;
        font-size: 16px;
    }
    
}