.main {
    position: relative;
    margin: 24px 16px;
    padding: 20px;
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding-left: 10px;
    z-index: 1;
}

.footer {
    width: 100%;
    padding: 20px 50px;
    text-align: center;
    background: #fff;
    box-shadow: 4px 4px 40px 0 rgba(0,0,0,.05);
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;

    &:hover {
        color: #108ee9;
    }
}

// User
.user {
    li {
        height: 100%;
    }
    div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.avatar {
    height: 40px;
    cursor: pointer;

    span:hover {
        box-shadow: 0 0 8px rgba(0,0,0,.1);
    }
}

// Sidebar
%logo {
    line-height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

%switch {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    color: #999;
}

.logoBig {
    @extend %logo;
    font-size: 18px;
}

.logoSmall {
    @extend %logo;
    font-size: 14px;
}

.inline {
    background: #fff;
}

.dark {
    @extend %switch;
    background: #494949;
}

.light {
    @extend %switch;
}

.bulb {
    margin-right: 5px;
}