.main {
    position: relative;
    margin: 24px 16px;
    padding: 20px;
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 18px 0 10px;
    background: #fff;
    z-index: 1;
}

.footer {
    width: 100%;
    padding: 20px 50px;
    text-align: center;
    background: #fff;
    box-shadow: 4px 4px 40px 0 rgba(0,0,0,.05);
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;

    &:hover {
        color: #108ee9;
    }
}

.crumb {
    margin-top: 24px;
    padding-left: 18px;
}

// User
.user {
    :global(.anticon) {
      margin-right: 8px;
    }
    :global(.ant-dropdown-menu-item) {
      width: 160px;
    }
}

.action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all .3s;
    height: 100%;
    > i {
      font-size: 16px;
      vertical-align: middle;
    }
    &:global(.ant-popover-open),

    &:hover {
      background: #e6f7ff;;
    }
}

.account {
    .uName {
        display: inline-block;
        line-height: 24px;
    }
    .avatar {
      margin: 20px 8px 20px 0;
      color: #e6f7ff;
      background: rgba(255, 255, 255, .85);
      vertical-align: middle;
    }
}


// Sidebar
%logo {
    line-height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

%switch {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    color: #999;
}

.logoBig {
    @extend %logo;
    font-size: 18px;
}

.logoSmall {
    @extend %logo;
    font-size: 14px;
}

.inline {
    background: #fff;
}

.dark {
    @extend %switch;
    background: #494949;
}

.light {
    @extend %switch;
}

.bulb {
    margin-right: 5px;
}

// Nprogress
:global {
    #nprogress {
        pointer-events: none;

        .bar {
            background: #29d;
            position: fixed;
            z-index: 1031;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
        }

        .peg {
            display: block;
            position: absolute;
            right: 0px;
            width: 100px;
            height: 100%;
            box-shadow: 0 0 10px #29d, 0 0 5px #29d;
            opacity: 1.0;
            transform: rotate(3deg) translate(0px, -4px);
        }

        .spinner {
            display: block;
            position: fixed;
            z-index: 1031;
            top: 15px;
            right: 15px;
        }

        .spinner-icon {
            width: 18px;
            height: 18px;
            box-sizing: border-box;
            border: solid 2px transparent;
            border-top-color: #29d;
            border-left-color: #29d;
            border-radius: 50%;
      
            :local {
                animation: nprogress-spinner 400ms linear infinite;
            }
        }
    }
      
    .nprogress-custom-parent {
        overflow: hidden;
        position: relative;
    
        #nprogress {
            .bar,
            .spinner {
                position: absolute;
            }
        }
    }
}

@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}