.table {
    td.avatar {
        img {
            border-radius: 50%;
        }
    }

  :global {
      .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th {
          height: 62px;
      }
  }

  ul {
      float: none!important;
      display: table;
      margin: 16px auto!important;
  }

}

.content {
    line-height: 2.4;
    font-size: 13px;
  
    .item {
        display: flex;
  
        & > div {
            &:first-child {
                width: 100px;
            }
        }
    }
}

.businessTitle {
    text-align: center;
}