:global {
    * {
        font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    %height {
        height: 100%;
    }

    #root {
        overflow: hidden;
        @extend %height;
    }
    
    .ant-layout {
        @extend %height;
    }

    .ant-table-tbody > tr > td,
    .ant-table-thead > tr > th {
        height: 62px;
        text-align: center;
        border-right: 1px solid #f4f4f4;
    }

    .ant-table-bordered .ant-table-body > table {
        border: 1px solid #f4f4f4;
        border-right: 0;
        border-bottom: 0;
    }

    .ant-pagination {
        float: none!important;
        display: table;
        margin: 16px auto!important;
    }

    .ant-breadcrumb > span:last-child {
        color: #999;
        font-weight: normal;
        a {
            color: #999;
            cursor: default;
        }
    }
}